@import url(https://fonts.googleapis.com/css?family=Oswald|Pacifico);

body {
  width: 700px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #b1393b;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 75px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 1px white;

}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin: -4px 5px 0px 5px;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin: 0px 5px 0px 5px;
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  text-align: center;
  margin: 0px 5px 30px 10px;
}

h5 {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  margin: 0px 5px 0px 5px;
}

p {
  margin-top: -5px;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}

img {
  width: 100px;
  height: 100px;
}

div {
  width: 100px;
  height: 120px;
  margin: 0px 5px 5px 5px;
  float: left;
  background-color: white;
}

#title-text {
  width: 680px;
  position: absolute;
  margin: -24px 5px 0px 5px;
  background-color: #b1393b;
}

#burrito {
  background-image: url("Burrito.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: white;
  border: 5px solid #d9bf62;
  border-radius: 5px;
  width: 560px;
  height: 260px;
  float: left;
  margin: 96px 5px 5px 5px;
}

#sidebar {
  background-color: white;
  float: right;
  border: 5px solid #d9bf62;
  border-radius: 5px;
  width: 100px;
  height: 260px;
  margin: 96px 5px 5px 5px;
}

#ingredients-list {
  background-color: white;
  border: 5px solid #d9bf62;
  border-radius: 5px;
  width: 680px;
  height: 210px;
  margin: 5px 5px 5px 5px;
  overflow: scroll;
  display: inline block;
}

#info {
  background-color: white;
  border: 5px solid #d9bf62;
  border-radius: 5px;
  width: 680px;
  height: 100px;
  margin: 5px 5px 0px 5px;
}

#info-text {
  margin: -5px 200px 0px 5px;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}

#start {
  float: right;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 1px white;
  background-color: #88c6db;
  border-radius: 5px;
  width: 150px;
  height: 60px;
  margin: -15px 35px 5px 0px;
}

#finish {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 1px white;
  background-color: #88c6db;
  border-radius: 5px;
  width: 200px;
  height: 60px;
  margin: 2px 5px 5px 150px;
}

#startover {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 1px white;
  background-color: #88c6db;
  border-radius: 5px;
  width: 200px;
  height: 60px;
  margin: 2px 5px 5px 5px;
}

.ingtext {
  text-align: center;
}

/*
green: #a1d2bc
red: #b1393b
white: #fcf9f2
yellow: #d9bf62
blue: #88c6db
*/
